LICENSES_FILE_PATH='licenses.txt'
ALL_GAMES_CSV_FILE_PATH='steam_all_games.csv'
PROFILE_GAMES_CSV_FILE_PATH='steam_profile_games.csv'
GAMES_DLC_CSV_FILE_PATH='steam_games_dlc.csv'
MISC_CSV_FILE_PATH='steam_misc.csv'
FAMILY_CSV_FILE_PATH='steam_family.csv'

STEAM_CMD_EXE='C:\steamcmd\steamcmd.exe'                    # Change with your steamcmd.exe path if needed
STEAM_KEY=''              	                                # Inform here your Steam API key
STEAM_ID=''               	                                # Inform here your Steam profile ID